<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="page-header">
      <h1>The Photo Has Been Deleted</h1>
    </div>
  </div>
  <div class="row">
    <a href="http://localhost:3000/">Return to Index</a>
  </div>
</div>
