<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="page-header">
      <h1>Photo Details Page</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="<%= @this_photo.source %>" width=100% style="border-radius:5px">
          <p><%= @this_photo.caption %></p>
        </div>
      </div>
      <a href="http://localhost:3000/">Return to Index</a>
    </div>
  </div>
</div>
